<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <!--<meta http-equiv="refresh" content="2">-->
  </head>
  <body>
    <div id="wrapper">
    {% include 'nav.html' %}
    <div id="content">
    <h2>Customer List</h2>
      <table class="list" width="750px">
      <tr><th>ID</th><th>NAME</th><th>ADDRESS</th></tr>
        {% for customer in customers %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
          <td>{{ loop.index }}.</td>
          <td><b>{{ customer.fname }} {{ customer.lname }}</b></td>
          <td>{{ customer.address }}<//td>
        </tr>
      {% endfor %}
    </div>
  </body>
</html>
