<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <!--<meta http-equiv="refresh" content="2">-->
  </head>
  <body>
    <div id="wrapper">
      {% include 'nav.html' %}
 
      <div id="content">
        <h2>Billing</h2>
        <table>
        <form action="/edit_customer?id={{ customer.key().id() }}" method="post">
          <tr><td>First Name:</td><td><input type="text" name="fname" value="{{ customer.fname }}" size="30" cols="30" 	readonly="readonly"></td></tr>
          <tr><td>Last Name:</td><td><input type="text" name="lname" value="{{ customer.lname }}" size="30" cols="30" readonly="readonly"></td></tr>
          <tr><td>Address:</td><td><textarea name="address" rows="6" cols="48" readonly="readonly" >{{ customer.address }}</textarea></td></tr>
          <tr><td>Email:</td><td><input type="text" name="email" size="50" cols="30" readonly="readonly" value="{{ customer.email }}"></td></tr>
          <tr><td>Phone:</td><td><input type="text" name="phone" size="50" cols="30" readonly="readonly" value="{{ customer.phone }}"></td></tr>
        </form>
        </table>
        
      <h2>Stock List</h2>
      <table class="list" width="750px">
        <tr><th>CODE</th><th>NAME</th><th>RETAIL PRICE</th><th>QTY USED</th></tr>
        {% for item in items %}
          <tr title="{{ item.description }}" class="{{ loop.cycle('odd', 'even') }}">
            <td><a href="/edit_stock?id={{ item.key().id() }}"><b>{{ item.stockcode }}</b></a></td>
            <td>{{ item.itemname }}</td>
            <td>{{ sell[loop.index0] }}</td>
            <td><input type="text" name="phone" size="10" cols="30" value="1"></td>
          </tr>
        {% endfor %}
      </table>
      <input type="submit" value="+">
		
		
      </div>
    </div>
  </body>
</html>
