    <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="stylesheets/ripple.js"></script>
	<div id="bob" style="padding:0 0 0px 10px;"></div>
    <script type="text/javascript">
		ripple('stylesheets/logo.png', document.getElementById('bob'));
	</script>
    {% if user %}
      <a href="login" style="text-decoration: none;"><div id="user">
        Welcome, {{user}}
      </div></a>
    {% endif %}
    <div style="height: 18px; background-color:#7ED4E3; padding: 1px 0 1px; text-align: center; border-top: 2px solid teal; border-bottom: 2px solid teal;">
      <a href="/"><div class="menu">Home</div></a>
      <a href="/services"><div class="menu">About Us</div></a>
      <a href="/instreet"><div class="menu">In Your Street?</div></a>
      <a href="/contact"><div class="menu">Contact Us</div></a>
      {% if user == "" or user == None %}
        <a href="login"><div class="menu">Log In</div></a>
      {% endif %}

      {% if user == "Bob" %}
        <a href="add_customer"><div class="menu"><span style="color:#0000BE">Add Customer</span></div></a>
        <a href="list_customers"><div class="menu"><span style="color:#0000BE">List Customers</span></div></a>
        <a href="create_job"><div class="menu"><span style="color:#0000BE"></span>Schedule</div></a>
      {% endif %}

      {% if user == "Storeman" %}
        <a href="add_stock"><div class="menu"><span style="color:#0000BE">Add Stock</span></div></a>
        <a href="list_stock"><div class="menu"><span style="color:#0000BE">List Stock</span></div></a>
      {% endif %}

      {% if user == "Staff" %}
        <a href="jobs"><div class="menu"><span style="color:#0000BE">Todays Jobs</span></div></a>
      {% endif %}

      {% if user == "Customer" %}
        <a href="update_customer"><div class="menu"><span style="color:#0000BE">Edit My Account</span></div></a>
      {% endif %}

      {% if user %}
        <a href="logout"><div class="menu">Log Out</div></a>
      {% endif %}

    </div>
