<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <!--<meta http-equiv="refresh" content="2">-->
  </head>
  <body>
    <div id="wrapper">
    {% include 'nav.html' %}
    <div id="content">
      <h2>Stock List</h2>
      <table class="list" width="750px">
        <tr><th>CODE</th><th>NAME</th><th>COST PRICE</th><th>RETAIL PRICE</th><th>STOCK QTY</th></tr>
        {% for item in items %}
          <tr title="{{ item.description }}" class="{{ loop.cycle('odd', 'even') }}">
            <td style="text-align: left"><a href="/edit_stock?id={{ item.key().id() }}"><img src="stylesheets/edit.png" />&nbsp;<b>{{ item.stockcode }}</b></a></td>
            <td>{{ item.itemname }}</td>
            <td>{{ cost[loop.index0] }}</td>
            <td>{{ sell[loop.index0] }}</td>
            <td>{{ item.stocklevel }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <p>&nbsp;<span style="border: 1px solid silver; width: 180px; text-align: center; padding: 2px"><input type="text" value="..."><input type="submit" value="Browse"></span>&nbsp;<input type="submit" value="Import MYOB Stock"></p>
    <p>&nbsp;<a href="stylesheets/customers.csv">Export website stock list</a></p>
  </body>
</html>
